body {
    background: #333;
}
h1 {
    background: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

.content h2:nth-of-type(1) {
    text-align: center;
    padding: 200px 800px 0 50px;
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin: 0;
}
.content h2 {
    text-align: center;
    padding: 0px 0px 0 50px;
    font-size: 50px;
    color: white;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin: 0;
}
.shuffle {
    position: relative;
    font-size: 24px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.word1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    animation: shuffleh2 10s infinite;
}
.word2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    animation: shuffleh2 10s infinite;
    animation-delay: -2.5s;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

nav a:hover {
    background-color: #555;
} 

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 30px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-about p {
    font-size: 14px;
    color: #888
}

.footer-copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #888;
}

.container {
    width: 80%;
    margin: 0 auto;
}

@keyframes shuffleh2 {
    0%, 25% {
        opacity: 1;
        transform: translateY(0);
    }
    30%, 50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    55%, 75% {
        opacity: 1;
        transform: translateY(0);
    }
    80%, 100% {
        opacity: 0;
        transform: translateY(100%);
    }
}