<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial=scale = 1">
    <link href="../style.css" rel = "stylesheet" type="text/css">
    <title>Contact and Links</title>
</head>
<body>
<nav class="navbar">
    <div class="nav-left-content">
        <p>Jordan's Portfolio</p>
    </div>
    <div class="nav-links">
        <a href="/mainscreen">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contactandlinks">Links and Contact</a>
    </div>
</nav>
<div class="content">
    <h1>Contact and Links</h1>
</div>
<div class="contact-container">
    <div class="email-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22 7 L12 13 2 7" />
            <rect x="2" y="6" width="20" height="12" rx="2" ry="2" />
        </svg>
        <p>Email me at: example@example.com</p>
    </div>
    <div class="phone-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
            <circle cx="12" cy="18.5" r="0.5"></circle>
            <line x1="19" y1="15" x2="5" y2="15"></line>
        </svg>   
        <p>Call me at: 123-456-7890</p>
    </div>
</div>
<footer>
    <div class="footer-content">
        <div class="footer-about">
            <h2>About Me</h2>
            <p>Here is some stuff about me to update later!</p>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2023 Jordan Nicholls | Designed by Jordan Nicholls</p>
        </div>
    </div>
</footer>
</body>