<!DOCTYPE html>
<html lang = "en"><!--xmlns:th="http://www.thymeleaf.org"-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial=scale = 1">
    <link href="../style.css" rel = "stylesheet" type="text/css">
    <title>Portfolio - Home</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="nav-links">
            <a href="/mainscreen">Home</a>
            <a href="#">Projects</a>
            <a href="/contactandlinks">Links and Contact</a>
        </div>
    </div>
</nav>
<div class = "mainh3">
    <div class="content">
        <h1>Portfolio Website</h1>
        <hr>
        <div class="maincontent">
            <h3>Hey,</h3>
            <h3>I'm Jordan Nicholls</h3>
        </div>
        <div id="title">
            <h3>Software Engineer</h3>
        </div>
    </div>
    <!--<div class="shuffle">
        <h2 class = "word1">Insert Animation Here</h2>
        <h2 class = "word2">Another animation</h2>
    </div>-->
</div>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-about">
                <h2>About Me</h2>
                <p>Here is some stuff about me to update later!</p>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2024 Jordan Nicholls | Designed by Jordan Nicholls</p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>